.shop-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.shop-container {
    /* background: blue; */
    padding-top: 100px;
    display: grid;
    grid-template-rows: 200px 100px 100px 100px;
    grid-template-columns: 500px 500px;
}

.item {
    background: rgb(255, 74, 74);
    padding: 10px;
    margin: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
}

.item:hover {
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: url("../img/all-prod-dark.jpg");
    background-position: 100px -50px;
    background-attachment: fixed;
    background-position: center;
    /* background-size: cover; */
    font-size: 100px;
    background-size: 100%;
    transition: 200ms ease-in-out;
    letter-spacing: -15px;
}

.item1:hover {
    background-size: 105%;
}



.item2 {
    background: url("../img/bags-with-frame-bg-dark.jpg");
    background-size: 60%;
}

.item2:hover {
    background-size: 70%;
}



.item6 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2, 
.item3,
.item4,
.item5,
.item6 {
    font-size: 20px;
    letter-spacing: 5px;
    transition: 200ms ease-in-out;
    background-attachment: fixed;
    background-position: center;
}

