* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

#header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: background-color .2s ease-in-out,
    border .2s ease-in-out,
    color .2s ease-in-out;
}